body {
    background-image: url('imagens/fundo.png');
    
}

h3 {
    color: #B8860B;
}

a {
    color:rgba(38, 38, 109, 0.747)
        
}

.navegacao {
    font-weight: bold;
    width: 900px;
}

.conteudo {
    width: 900px;
    background-color: #F5F5DC;
}

.rodape {
    width: 900px;
    text-align: center;
    font-weight: bold;
}
