body {
    background-image: url('imagens/fundo.png');
    
}

a {
    color:rgba(38, 38, 109, 0.747)
        
}

h3 {
    color: rgb(206, 150, 101);
}

.imagens {
    border: solid 8px #d3c39c;
}

.navegacao {
    font-weight: bold;
    width: 900px;
}

.conteudo {
    width: 900px;
    background-color: #F5F5DC;
}

.rodape {
    width: 900px;
    text-align: center;
    font-weight: bold;
}
